body{
    --culoare-text:green;
    --culoare-fundal:yellow;
    --spatiere-pagina:100px;
    --dimensiune-text:16px;
    font-size: var(--dimensiune-text);


    padding-left: var(--spatiere-pagina);
    padding-right: var(--spatiere-pagina);
    transition: padding 1s linear;

    /* VARIANTA 1 */
    /* --culoare-gradient: rgba(255, 255, 255,0.7);
    background-image: linear-gradient(to right, transparent, var(--culoare-gradient) 6%, var(--culoare-gradient) 94%, transparent), url('../images/qr.jpg');
    background-attachment: scroll, fixed;
    background-repeat: repeat-y, repeat; */

    /* VARIANTA 2 */
    background-image: url("../images/qr.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

main {
    background: rgba(255,255,255, 0.8);
    padding: 0 10%;
    border: 5px solid white;
}

#descriere-qr {
    column-count: 2;
}

#utilizari {
    background: radial-gradient(circle at 30%, rgb(234, 3, 3), rgb(33, 243, 79));
}

#schimba_lista:checked + ul {
    list-style-type: decimal;
}

p{
    /*font-size: 9px;*/
    color:var(--culoare-text)
}

ol{
    color:var(--culoare-text)
}

#tehnologii {
    list-style-image: url("../images/list-item.png");
    background-image: linear-gradient(to left, red, blue, green);
}

#tehnologii>li {
    transition: all .25s ease-in-out;
}

#tehnologii>li:nth-of-type(2n) {
    color: gray;
}

#tehnologii>li:hover {
    font-size: larger;
}

@media screen and (max-width:1100px) {
    body{
        --spatiere-pagina:40px;
        --dimensiune-text:14px;
    }
}

@media screen and (max-width:700px) {
    body{
        --spatiere-pagina:10px;
        --dimensiune-text:10px;
    }
}
